<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <form action="/searches" method="post">
        <input id = "SearchInput" type="text" placeholder="Enter a title or Author" Name ="SearchBox">
        <br>

        <fieldset id="title">
        <label for="Title">Title</label>
        <input type="radio" name = "select" value="Title">
        </fieldset>
        <br>
        
        <fieldset id="author">
        <label for="Author">Author</label>
        <input type="radio" name = "select" value="Author" >
        </fieldset>
        <br>
    
        <button id="button" type="submit">Search the Google Books API</button>
        </form>
</body>
</html>